/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
/* forms and buttons */
form {
  height: 50px;
  width: 400px;
  max-width: 95%;
  padding: 10px;
  padding-right: 5px;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 0;
  position: relative;
  margin-top: 10px;
}

input {
  
  font-size: 25px;
  /* border: white;
  width: calc(100% - 45px); */
  border-radius: 9999px;
  border: 1px solid black;
  padding: 10px 57px 10px 15px;
  width: 100%;
}

input:focus-visible {
  outline: black auto 1px;
  outline-color: black;
  outline-style: auto;
  outline-width: 1px;
}

button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  padding: 1px 6px;
  background: black;
  border: black;
  color: white;
  text-align: center;
  transition: color 0.2s;
  position: absolute;
  right: 6px;
  cursor: pointer;
}

button:hover,
button:focus{
  color: goldenrod;
}

button:active{
  background-color: goldenrod;
  color: black;
}

/* main{
  max-width: 1440px;
  margin: 0 auto;
} */
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
html{
  background: black;
  font-family: 'Jura', sans-serif;
}
header{
  background-color: black;
  margin: 0 auto;
  width: 100%;
}

.logo{
  height: 100px;
  margin: 15px;
}

header,
section.max-width-container,
.recipe-container{
  max-width: 1400px;
}

section.max-width-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

section.top{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  padding: 20px 0;
}

.search-container{
  width: 50%;
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-container h1{
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}
footer ul,
.search-options{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.search-options li{
  margin: 0 15px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 9999px;
  font-size: 20px;
  color: white;
  background: black;
  font-weight: 600;
  transition: scale(0.2s) color(0.2s);
  cursor: pointer;
}

.search-options li:hover{
  color: black;
  background: goldenrod;
  transform: scale(1.2);
}

.search-options li.active{
  color: black;
  background: goldenrod;
  transform: scale(1.2);
}

.carousel-container{
  width: 50%;
  padding: 10px 25px;
  display: flex;
  align-items:  center;
  flex-direction: column;
}

.carousel-container img{
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  height: 350px;
}

.carousel-container p{
  text-align: center;
  font-size: 32px;
}

.recipe-link, 
.to-top{
  text-decoration: none;
}
.carousel-container h2{
  text-align: center;
  color: black;
}

.recipe-container{
  color: white;
  min-height: 10px;
  padding: 15px 50px 100px 50px;
  display: none;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
}

.recipe-container .drink-name {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
}

.ingredients {
  width: 50%;
  padding-bottom: 25px;
}

.recipe-img-container{
  display: flex;
  justify-content: center;
  width: 50%;
}
.recipe-img{
  border-radius: 5px;
  height: 300px;
  text-align: center;
}
.ingredients h2{
  text-decoration: underline;
}

.ingredients li{
  margin: 5px;
}

.to-top div:hover{
  transform: scale(1.2);
}

.to-top div:active{
  background: white;
}
.to-top div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: goldenrod;
  color: black;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  width: 50px;
  padding-bottom: 5px;
  border-radius: 9999px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.to-top span{
  line-height: 11px;
}


/* results section */
/* .results-container{
  margin: 10px 25px;
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
} */

.results-container {
  border: 1px solid #ddd;
  overflow-y: auto;
  max-height: 612px;

  width: calc(50% - 50px);

  border-radius: 8px;
  box-shadow: 0 1px 9px 2px rgb(128 128 128 / 10%);
  /* max-width: 612px; */

  margin: 10px 25px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.results-container .no-drink{
  font-size: 32px;
}

.results-container .card-template{
  display: none;
}

.results-container .card{
  margin: 20px;
  height: 225px;
  width: 150px;
  cursor: pointer;
  background: transparent;
  z-index: 2;
  transition: transform 0.2s;
  /* border: 1px solid black; */
}
.results-container .card:hover{
  transform: scale(1.1);
}
.card .result-img{
  height: 150px;
  border-radius: 5px;
}

.result-content{
  padding: 5px;
  text-align: center;
}
.results-container .category{
  color: goldenrod;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.results-container .result-name{
  font-size: 20px;
  margin: 0;
  color: black;
}



footer {
  background: white;
  border-top: 2px solid black;
  color: black;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .logo{
  height: 50px;
  filter: invert(1);
  text-align: center;
}

footer p {
  font-size: 12px;
  margin: 0;
}



footer a{
  color: black;
  transition: all 0.2s;
}

footer a:hover{
  color: goldenrod;
}
footer li{
  margin: 10px;
}

@media all and (max-width: 736px) {
  
  header{
    text-align: center;
  }

  .top .search-container,
  .top .carousel-container,
  .top .results-container,
  .ingredients,
  .recipe-img-container{
    width: 100%;
  }

  .results-container{
    justify-content: center;
  }
  
  form {
    max-width: 90%;
  }

  .results-container {
    border: none;
    max-height: 100%;
  
    box-shadow: none;
  }

 
}